.metaverse-right-control{
    padding-left: 20px;
}

.metaverse-right-control h3{
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 800;
    line-height: 48px;
    font-family: "robotomono";
}

.metaverse-right-control p{
    margin-bottom: 48px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(79,79,79,var(--tw-text-opacity));
}

@media only screen and (max-width: 600px) {
    .metaverse-right-control h3{
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 400;
        line-height: 10px;
        font-family: "robotomono";
    }
    
    .metaverse-right-control p{
        margin-bottom: 3px;
        font-size: 9px;
        font-weight: 300;
        color: rgba(79,79,79,var(--tw-text-opacity));
    }
}