.metaverse-right-control{
    padding-left: 20px;
}

.metaverse-right-control h3{
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 800;
    line-height: 48px;
    font-family: "robotomono";
}

.metaverse-right-control p{
    margin-bottom: 48px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(79,79,79,var(--tw-text-opacity));
}